.navbar {
    font-size: 120%;
    margin-bottom: 0px;
    border-radius: 0;
}

.kanyeImg {
    height: 80px;
}

#container {
    text-align: left;
    text-align: justify;
}

h1, h2 {
    display: inline;
    vertical-align: middle;
    font-size: 170%;
}

iframe {
    border: none; 
    overflow: hidden;
}

ul.nav.navbar-nav {
     max-width: none;
}

@media screen and (min-width: 500px) {
    h1 {
        font-size: 240%;
    }
}

@media screen and (min-width: 768px) {

    .kanyeImg {
        height: 100px;
    }

    h1 {
        font-size: 400%;
        float: none;
    }

}